.tab-list .ui-tabs-nav{
	list-style: none;
	width: 100%;
	margin-left: -15px;
	margin-right: -15px;
	padding: 0;

}
.tab-list {
	max-width: 1170px;
	margin:0 auto;
}
.tab-list ul:after{
display: block;
	clear: both;
	content:'';}

.tab-list ul li{

}
.tab-list ul li img{
	min-width: 1%;
	max-width: 100%;
	height: auto;
	
}
.tab-list ul li a{
	display: block;
	outline: none;
}
.tab-list ul li a:hover{
	color:inherit;
}
.tab-title {
	background-color: #fff;
	border-bottom: 60px solid #fbfbfb;
	position: relative;
}
.tab-title span{
	font-size: 20px;
	display: block;
	text-align: center;
}
.tab-title .prof{
	font-size: 16px;
	padding-bottom: 13px;
	border-bottom: 2px solid #dfe4e5;
}
#tabs-1, #tabs-2, #tabs-3, #tabs-4{
	max-width: 700px;
	margin: 0 auto;
	text-align:left;
	color:#fff;
	padding-top: 60px;
	transition: 1s ;
}
#tabs-1 p, #tabs-2 p, #tabs-3 p, #tabs-4 p{
	text-align: left;
	font-weight: 300;
}
#tabs-1 .name, #tabs-2 .name, #tabs-3 .name, #tabs-4 .name{
	color:#ffe600;
	margin-bottom: 20px;

}
.ui-tabs-panel {
	opacity: 1;
}
.close-button{
	float:right;
width: 15px;
height: 15px;
background:url(../images/close.png) no-repeat 0 0;
}
.ui-tabs{
	transition:1s;
}
.social a {
	text-align: center;
	width: 37px;
	height: 37px;
	border:1px solid #fff;
	display: block;
	padding-top: 10px;
	float:left;
	margin-right: 24px;
	padding-top: 4px;	
	vertical-align: middle;
}
.social a .fa{
	display: inline-block;
	color:#fff;
}
.social a .fa:hover{
color:#ffe600;}
.ui-tabs-active .tab-title:after, .ui.state.active .tab-title:after{
	position: absolute;
	content:'';
	width: 58px;
	height: 20px;
	top:calc(100% + 41px);
	left:calc(50% - 29px);
	background: #fff url(../images/arrow.png) no-repeat 100% 50%;
}