
$white: #fff;
$brand-color: #ffce00;
$color-description: #707070;
$color-subtitle: #515151;


$line-height-description: 25px;

$font-weight-bold: 700;
$font-weight-thin: 300;
$font-weight-base: 400;




//Andrew
$color-brand: #ffe600;
$color-dark: rgba(19,19,22,0.9);
$color-darkest: #131316;
$color-light: #fbfbfb;

$line-height-base: 1.56;
$font-family-base: 'Oswald', Arial, sans-serif;
$p-margin-bottom: 50px;

$link-color: #000;
$link-color-hover: $color-brand;



$heading-font-size-1: 65px;
$heading-margin-1: 1em;
$heading-margin-2: 50px;

$heading-font-size-3: 16px;
$heading-margin-3: 0px;

$btn-color: #fff;
$btn-font-size: 20px;
$btn-bg: $color-brand;
$btn-border: none;
$btn-border-radius: none;
$btn-padding: 20px 50px;

$btn-color-hover:  $color-brand;
$btn-bg-hover: #fff;
$btn-border-color-hover: none;

$form-color: $white;
$form-bg: transparent;
$form-border: 1px solid $white !default;
$form-border-radius: none;
$form-height: 60px;
$form-padding-x: 20px;
$form-font-size: 15px;

$form-margin-bottom: 25px;