$color-brand: #ffe600;
$color-dark: #131316;


$line-height-base: 1.56;
$font-family-base: 'Oswald', Arial, sans-serif;
$p-margin-bottom: 50px;

$link-color: #000;



$heading-font-size-1: 65px;
$heading-margin-1: 1em;
$heading-margin-2: 50px;

$heading-font-size-3: 16px;
$heading-margin-3: 0px;

$btn-color: #fff;
$btn-font-size: 20px;
$btn-bg: $color-brand;
$btn-border: none;
$btn-border-radius: none;
$btn-padding: 20px 50px;

$btn-color-hover:  $color-brand;
$btn-bg-hover: #fff;
$btn-border-color-hover: none;