html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
}

*,
:before,
:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.wrapper {
  overflow: hidden;
  display: table;
  width: 100%;
  height: 100vh;
  table-layout: fixed;
}

.footer {
  display: table-footer-group;
  height: 1%;
}

.container {
  margin: auto;
  max-width: 1170px;
  padding: 0 0 10px;
}

body {
  color: #000;
  background-color: #fff;
  font-size: 16px;
  line-height: 1.56;
  font-family: "Oswald", Arial, sans-serif;
}

p {
  margin-top: 0;
  margin-bottom: 50px;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #ffe600;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: inherit;
  color: inherit;
  font-weight: 700;
}

h1, .h1 {
  font-size: 65px;
  margin: 1em;
}

h2, .h2 {
  font-size: 30px;
  margin-bottom: 50px;
}

h3, .h3 {
  font-size: 16px;
  margin-bottom: 0px;
}

h4, .h4 {
  font-size: 18px;
  margin: 1em;
}

h5, .h5 {
  font-size: 14px;
  margin: 1em;
}

h6, .h6 {
  font-size: 12px;
  margin: 1em;
}

.btn {
  display: inline-block;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  font-weight: normal;
  color: #fff;
  font-size: 20px;
  background: #ffe600;
  border: none;
  border-radius: none;
  padding: 20px 50px;
}

.btn:hover {
  color: #ffe600;
  background: #fff;
  border-color: none;
}

.form-group {
  margin-bottom: 25px;
}

.form-control {
  width: 100%;
  display: block;
  color: #fff;
  font-size: 15px;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: none;
  height: 60px;
  line-height: 1.4;
  padding: 19.5px 20px;
}

.form-control::-webkit-input-placeholder {
  color: #fff;
  opacity: 1;
}

.form-control::-moz-placeholder {
  color: #fff;
  opacity: 1;
}

.form-control:-ms-input-placeholder {
  color: #fff;
  opacity: 1;
}

.form-label {
  display: block;
  color: #eaeef1;
  font-size: 14px;
  margin-bottom: 4px;
}

.mb10 {
  margin-bottom: "10px";
}

.mb20 {
  margin-bottom: "20px";
}

.mb30 {
  margin-bottom: "30px";
}

.mb40 {
  margin-bottom: "40px";
}

.mb50 {
  margin-bottom: "50px";
}

.mb60 {
  margin-bottom: "60px";
}

.mb70 {
  margin-bottom: "70px";
}

.mb80 {
  margin-bottom: "80px";
}

.mb90 {
  margin-bottom: "90px";
}

.mb100 {
  margin-bottom: "100px";
}

.left {
  float: left;
}

.right {
  float: right;
}

.center, .h2-line:after {
  margin: 0 auto;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center, p, .h1, .h2, .h3 {
  text-align: center;
}

.inverse {
  color: white !important;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.image-wrap img {
  width: 100%;
  height: auto;
}

.image-wrap-height img {
  height: 100%;
  width: auto;
}

.row {
  margin: 0 -10px;
}

.row:before, .row:after {
  content: '';
  display: table;
}

.row:after {
  clear: both;
}

[class*="col-"] {
  padding: 0 10px;
  float: left;
}

@media all and (min-width: 0px) {
  .col-xs-1 {
    width: 8.33333%;
  }
  .col-xs-2 {
    width: 16.66667%;
  }
  .col-xs-3 {
    width: 25%;
  }
  .col-xs-4 {
    width: 33.33333%;
  }
  .col-xs-5 {
    width: 41.66667%;
  }
  .col-xs-6 {
    width: 50%;
  }
  .col-xs-7 {
    width: 58.33333%;
  }
  .col-xs-8 {
    width: 66.66667%;
  }
  .col-xs-9 {
    width: 75%;
  }
  .col-xs-10 {
    width: 83.33333%;
  }
  .col-xs-11 {
    width: 91.66667%;
  }
  .col-xs-12 {
    width: 100%;
  }
  .col-xs-offset-1 {
    margin-left: 8.33333%;
  }
  .col-xs-offset-2 {
    margin-left: 16.66667%;
  }
  .col-xs-offset-3 {
    margin-left: 25%;
  }
  .col-xs-offset-4 {
    margin-left: 33.33333%;
  }
  .col-xs-offset-5 {
    margin-left: 41.66667%;
  }
  .col-xs-offset-6 {
    margin-left: 50%;
  }
  .col-xs-offset-7 {
    margin-left: 58.33333%;
  }
  .col-xs-offset-8 {
    margin-left: 66.66667%;
  }
  .col-xs-offset-9 {
    margin-left: 75%;
  }
  .col-xs-offset-10 {
    margin-left: 83.33333%;
  }
  .col-xs-offset-11 {
    margin-left: 91.66667%;
  }
  .col-xs-offset-12 {
    margin-left: 100%;
  }
}

@media all and (min-width: 768px) {
  .col-sm-1 {
    width: 8.33333%;
  }
  .col-sm-2 {
    width: 16.66667%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.33333%;
  }
  .col-sm-5 {
    width: 41.66667%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-7 {
    width: 58.33333%;
  }
  .col-sm-8 {
    width: 66.66667%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-10 {
    width: 83.33333%;
  }
  .col-sm-11 {
    width: 91.66667%;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-offset-1 {
    margin-left: 8.33333%;
  }
  .col-sm-offset-2 {
    margin-left: 16.66667%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-offset-4 {
    margin-left: 33.33333%;
  }
  .col-sm-offset-5 {
    margin-left: 41.66667%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-offset-7 {
    margin-left: 58.33333%;
  }
  .col-sm-offset-8 {
    margin-left: 66.66667%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-offset-10 {
    margin-left: 83.33333%;
  }
  .col-sm-offset-11 {
    margin-left: 91.66667%;
  }
  .col-sm-offset-12 {
    margin-left: 100%;
  }
}

@media all and (min-width: 980px) {
  .col-md-1 {
    width: 8.33333%;
  }
  .col-md-2 {
    width: 16.66667%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33333%;
  }
  .col-md-5 {
    width: 41.66667%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33333%;
  }
  .col-md-8 {
    width: 66.66667%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.33333%;
  }
  .col-md-11 {
    width: 91.66667%;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-offset-1 {
    margin-left: 8.33333%;
  }
  .col-md-offset-2 {
    margin-left: 16.66667%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-offset-4 {
    margin-left: 33.33333%;
  }
  .col-md-offset-5 {
    margin-left: 41.66667%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-offset-7 {
    margin-left: 58.33333%;
  }
  .col-md-offset-8 {
    margin-left: 66.66667%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-offset-10 {
    margin-left: 83.33333%;
  }
  .col-md-offset-11 {
    margin-left: 91.66667%;
  }
  .col-md-offset-12 {
    margin-left: 100%;
  }
}

@media all and (min-width: 1200px) {
  .col-lg-1 {
    width: 8.33333%;
  }
  .col-lg-2 {
    width: 16.66667%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33333%;
  }
  .col-lg-5 {
    width: 41.66667%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33333%;
  }
  .col-lg-8 {
    width: 66.66667%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-10 {
    width: 83.33333%;
  }
  .col-lg-11 {
    width: 91.66667%;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-offset-1 {
    margin-left: 8.33333%;
  }
  .col-lg-offset-2 {
    margin-left: 16.66667%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-offset-4 {
    margin-left: 33.33333%;
  }
  .col-lg-offset-5 {
    margin-left: 41.66667%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-offset-7 {
    margin-left: 58.33333%;
  }
  .col-lg-offset-8 {
    margin-left: 66.66667%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-offset-10 {
    margin-left: 83.33333%;
  }
  .col-lg-offset-11 {
    margin-left: 91.66667%;
  }
  .col-lg-offset-12 {
    margin-left: 100%;
  }
}

.block {
  padding: 60px 0;
  background-size: cover;
  background-position: 50% 50%;
  display: table;
  width: 100%;
  table-layout: fixed;
}

.block-header {
  display: table-header-group;
  height: 1%;
}

.block-content {
  display: table-row-group;
}

.block-footer {
  display: table-footer-group;
  height: 1%;
}

.block-inner {
  display: table-cell;
  vertical-align: middle;
}

.block-collapse {
  padding: 0;
}

.block-fill-height {
  height: 100vh;
}

.block-inverse {
  color: white;
}

.block-overlay {
  position: relative;
  z-index: 1;
}

.block-overlay:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-color: inherit;
  opacity: 0.5;
}

.ul-menu {
  list-style: none;
  display: inline-block;
  margin: 0;
  padding: 0;
}

.ul-menu li {
  display: inline-block;
  margin-left: 15px;
}

.feature {
  padding: 20px 0;
}

.feature-bg {
  width: 80px;
  height: 80px;
  line-height: 97px;
  text-align: center;
  border-radius: 50%;
  background-color: #ffce00;
  opacity: 0.7;
  margin: 0 auto;
}

.feature-bg:hover {
  background-color: transparent;
  border: 1px solid rgba(19, 19, 22, 0.9);
}

.feature-box {
  width: 70px;
  height: 70px;
  line-height: 90px;
  text-align: center;
  border-radius: 50%;
  background-color: #ffce00;
  opacity: 0.7;
  float: left;
  margin-right: 30px;
}

.feature-img {
  margin: 0 auto;
  display: block;
}

.feature-title {
  padding: 20px 0;
  font-size: 20px;
  text-align: center;
  font-weight: 700;
}

.feature-description {
  text-align: center;
  font-size: 16px;
  color: #707070;
  line-height: 25px;
  font-weight: 300;
}

.feature-subtitle {
  color: #515151;
}

.feature-text {
  text-align: left;
  font-size: 16px;
  padding: 20px 0 30px 100px;
  color: #707070;
  line-height: 25px;
  font-weight: 300;
}

.white {
  color: #fff;
}

.left {
  text-align: left;
  margin-left: 40px;
}

.icon-icon1,
.icon-icon2,
.icon-icon3,
.icon-icon4 {
  font-size: 33px;
  color: #fff;
}

.icon-icon1:hover,
.icon-icon2:hover,
.icon-icon3:hover,
.icon-icon4:hover {
  color: #ffce00;
}

.container {
  min-width: 400px;
}

.block-inverse {
  background-color: rgba(19, 19, 22, 0.9);
}

.block-light {
  background-color: #fbfbfb;
}

.h3 {
  font-weight: 400;
}

.h2-line:after {
  content: "";
  display: block;
  position: relative;
  top: 25px;
  height: 2px;
  width: 170px;
  background-color: #ffe600;
}

.highlight {
  color: #ffe600;
}

.btn-large {
  color: black;
  text-transform: uppercase;
}

.btn-small {
  padding: 25px;
  font-size: 3em;
  line-height: 0em;
}

.form-control {
  font-weight: 300;
}

textarea.form-control {
  height: 222px;
}

.block-header, .footer {
  background-color: #131316;
  padding: 40px;
  color: #fff;
}

.block-header a, .footer a {
  color: #fff;
}

.block-header a:hover, .footer a:hover {
  color: #ffe600;
}

.ul-menu {
  float: right;
  padding: 40px;
}

.ul-menu li {
  position: relative;
  margin-left: 30px;
}

.ul-menu li:after {
  content: '';
  display: inline-block;
  width: 5px;
  height: 5px;
  background-color: #ffe600;
  margin: 0 15px;
  position: absolute;
  top: 35%;
}

.ul-menu li:last-child:after {
  display: none;
}

.logo {
  width: 105px;
  margin-top: 15px;
}

.wrapper-h1 {
  background: #131316;
  padding: 50px 0;
}

p.quote {
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  width: 50%;
  margin: 0 auto;
}

p.quote-signature {
  margin: 50px 0 25px;
}

.footer p {
  font-weight: 300;
  margin: 40px 0 0;
}

.footer a {
  font-size: 1.5em;
  margin: 10px;
}

.footer .soc-icons {
  margin: 30px;
}

.block-fill-height {
  padding: 0px;
}

.mobile, .mobile-close {
  display: none;
}

@media all and (max-width: 968px) {
  .tab-list ul li img {
    height: 500px;
  }
}

@media all and (max-width: 768px) {
  .container {
    padding-right: 10px;
    padding-left: 10px;
  }
  input {
    margin-bottom: 25px;
  }
  .mobile {
    display: block;
    margin: 10px;
    width: 50px;
    height: 50px;
    float: right;
    cursor: pointer;
  }
  .mobile span {
    height: 8px;
    width: 50px;
    margin-bottom: 8px;
    display: inline-block;
    background-color: #fff;
  }
  .mobile-close {
    width: 50px;
    height: 50px;
    position: relative;
    float: right;
    cursor: pointer;
  }
  .mobile-close:before, .mobile-close:after {
    content: "";
    display: inline-block;
    width: 50px;
    height: 8px;
    position: absolute;
    top: 30px;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    background: #fff;
  }
  .mobile-close:after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .ul-menu {
    float: none;
    height: 100vh;
  }
  .collapse {
    display: none;
    width: 100%;
  }
  .collapse .ul-menu {
    clear: both;
    display: block;
  }
  .collapse .ul-menu li {
    display: block;
    text-align: center;
  }
  .collapse .ul-menu li:after {
    display: none;
  }
  .collapse .ul-menu li a {
    font-size: 50px;
    line-height: 2.5em;
  }
  .progressbars-wrapper ul li {
    margin-bottom: 30px;
  }
  .tab-list ul li img {
    height: 1200px;
  }
}

@media all and (max-width: 470px) {
  .tab-list ul li img {
    height: 800px;
  }
}

.owl-nav {
  margin: 30px auto;
  text-align: center;
}

.owl-nav .owl-prev, .owl-nav .owl-next {
  background: #ffe600;
  display: inline-block;
  width: 31px;
  height: 31px;
  margin: 0 15px;
  color: #fff;
  line-height: 31px;
}

.owl-dots {
  margin: 0 auto;
  text-align: center;
}

.owl-dots .owl-dot {
  width: 5px;
  height: 5px;
  background: #fff;
  margin: 0 5px;
  display: inline-block;
}

.owl-dots .owl-dot.active {
  background: #ffe600;
}

.progressbars-wrapper {
  max-width: 1174px;
  margin: 0 auto;
  overflow: hidden;
}

.progressbars-wrapper ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.progressbars-wrapper ul li {
  display: inline-block;
  text-align: center;
  font-size: 35px;
  color: #ffe600;
  font-weight: 300;
}

.progressbars-wrapper ul li span {
  padding: 45px 0 0 50px;
  display: block;
}

.progressbars-wrapper .number-block {
  padding: 30px;
  border: 1px solid #ffcf00;
  margin: 0 15px;
}

.progressbars-wrapper .number-block span {
  padding: 0;
  color: #fff;
  font-weight: 700;
}

.progressbars-wrapper .number-block .highlight {
  font-size: 16px;
  font-weight: 400;
  color: inherit;
}

.tab-list .ui-tabs-nav {
  list-style: none;
  width: 100%;
  margin-left: -15px;
  margin-right: -15px;
  padding: 0;
}

.tab-list {
  max-width: 1170px;
  margin: 0 auto;
}

.tab-list ul:after {
  display: block;
  clear: both;
  content: '';
}

.tab-list ul li img {
  min-width: 1%;
  max-width: 100%;
  height: auto;
}

.tab-list ul li a {
  display: block;
  outline: none;
}

.tab-list ul li a:hover {
  color: inherit;
}

.tab-title {
  background-color: #fff;
  border-bottom: 60px solid #fbfbfb;
  position: relative;
}

.tab-title span {
  font-size: 20px;
  display: block;
  text-align: center;
}

.tab-title .prof {
  font-size: 16px;
  padding-bottom: 13px;
  border-bottom: 2px solid #dfe4e5;
}

#tabs-1, #tabs-2, #tabs-3, #tabs-4 {
  max-width: 700px;
  margin: 0 auto;
  text-align: left;
  color: #fff;
  padding-top: 60px;
  transition: 1s;
}

#tabs-1 p, #tabs-2 p, #tabs-3 p, #tabs-4 p {
  text-align: left;
  font-weight: 300;
}

#tabs-1 .name, #tabs-2 .name, #tabs-3 .name, #tabs-4 .name {
  color: #ffe600;
  margin-bottom: 20px;
}

.ui-tabs-panel {
  opacity: 1;
}

.close-button {
  float: right;
  width: 15px;
  height: 15px;
  background: url(../images/close.png) no-repeat 0 0;
}

.ui-tabs {
  transition: 1s;
}

.social a {
  text-align: center;
  width: 37px;
  height: 37px;
  border: 1px solid #fff;
  display: block;
  padding-top: 10px;
  float: left;
  margin-right: 24px;
  padding-top: 4px;
  vertical-align: middle;
}

.social a .fa {
  display: inline-block;
  color: #fff;
}

.social a .fa:hover {
  color: #ffe600;
}

.ui-tabs-active .tab-title:after, .ui.state.active .tab-title:after {
  position: absolute;
  content: '';
  width: 58px;
  height: 20px;
  top: calc(100% + 41px);
  left: calc(50% - 29px);
  background: #fff url(../images/arrow.png) no-repeat 100% 50%;
}

/*# sourceMappingURL=all.css.map */