@import 'components/variables.scss';
@import 'components/mixins.scss';

@import 'components/global.scss';
@import 'components/type.scss';
@import 'components/btns.scss';
@import 'components/forms.scss';
@import 'components/format.scss';
@import 'components/grid.scss';
@import 'components/blocks.scss';
@import 'components/features.scss';

.block-inverse {
	background-color: $color-dark;
}
p, .h1, .h2, .h3 {
	@extend .text-center;
}
.h3 {
	font-weight: 400;
}
.h2-line:after {
	content: "";
	display: block;
	position: relative;
	@extend .center;
	top: 25px;
	height: 2px;
	width: 170px;
	background-color: $color-brand;
}
.highlight {
	color: $color-brand;
}
.btn-large {
	color: black;
	text-transform: uppercase;
}
.btn-small {
	padding: 25px;
	font-size: 3em;
	line-height: 0em;
}
.block-header, .footer {
	background-color: $color-darkest;
	padding: 40px;
	color: #fff;
	a {
		color: #fff;
		&:hover {
			color: $color-brand;
		}
	}
}
.ul-menu {
	padding: 40px;
	li {
		position: relative;
		margin-left: 30px;
	}
	li:after {
		content:'';
		display: inline-block;
		width: 5px;
		height: 5px;
		background-color: $color-brand;
		margin: 0 15px;
		position: absolute;
		top: 35%;
	}
	li:last-child:after {
		display: none;
	}

}
.logo {
	width: 105px;
	margin-top: 15px;
}
.wrapper-h1 {
	background: $color-darkest;
	padding: 50px 0;
}
p.quote {
	font-size: 20px;
	line-height: 25px;
	text-align: center;
	width: 50%;
	margin: 0 auto;
}
p.quote-signature {
	margin: 50px 0 25px;
}
.footer {
	p {
		font-weight: 300;
		margin: 40px 0 0;
	}
	a {
		font-size: 	1.5em;
		margin: 10px;
	}
	.soc-icons {
		margin: 30px;
	}
}
.block-fill-height {
	padding: 0px;
}

//sliders
.owl-nav {
	margin: 30px auto;
	text-align: center;
	.owl-prev, .owl-next {
		background: $color-brand;
		display: inline-block;
		width: 31px;
		height: 31px;
		margin: 0 15px;
		color: #fff;
		line-height: 31px;
	}
}
.owl-dots {
	margin: 0 auto;
	text-align: center;
	.owl-dot {
		width: 5px;
		height: 5px;
		background: #fff;
		margin: 0 5px;
		display: inline-block;
		&.active {
			background: $color-brand;
		}
	}
}


//блоки с анимациями цифр + табы//

.progressbars-wrapper {
	max-width: 1174px;
	margin: 0 auto;
	overflow: hidden;
}

.progressbars-wrapper ul{
	list-style:none;
	padding: 0;
	margin: 0;
}
.progressbars-wrapper ul li{
	display: inline-block;
	width: 24.7%;
	text-align: center;
	font-size: 35px;
	color: #ffe600;
	font-weight: 300;
}
.progressbars-wrapper ul li span{
	    padding: 45px 0 0 50px;
	display: block;
}

.progressbars-wrapper .number-block{
	padding: 30px;
	border:1px solid #ffcf00;
	width: 270px;
	margin: 0 15px;

}
.progressbars-wrapper .number-block span{
	padding:0;
	color:#fff;
	font-weight: 700;
}
.progressbars-wrapper .number-block .highlight{
	font-size: 16px;
	font-weight: 400;
	color:inherit
}

.tab-list .ui-tabs-nav{
	list-style: none;
	width: 100%;
	margin-left: -15px;
	margin-right: -15px;
	padding: 0;

}
.tab-list {
	max-width: 1170px;
	margin:0 auto;
}
.tab-list ul:after{
display: block;
	clear: both;
	content:'';}

.tab-list ul li{
	width: 270px;
	float:left;
	margin: 0 10px;
}
.tab-list ul li img{
	min-width: 1%;
	max-width: 100%;
	width: 270px;
	height: 250px
}
.tab-list ul li a{
	display: block;
	outline: none;
}
.tab-list ul li a:hover{
	color:inherit;
}
.tab-title {
	background-color: #fff;
	border-bottom: 60px solid #fbfbfb;
	position: relative;
}
.tab-title span{
	font-size: 20px;
	display: block;
	text-align: center;
}
.tab-title .prof{
	font-size: 16px;
	padding-bottom: 13px;
	border-bottom: 2px solid #dfe4e5;
}
#tabs-1, #tabs-2, #tabs-3, #tabs-4{
	max-width: 700px;
	margin: 0 auto;
	text-align:left;
	color:#fff;
	padding-top: 60px;
	transition: 1s ;
}
#tabs-1 p, #tabs-2 p, #tabs-3 p, #tabs-4 p{
	text-align: left;
	font-weight: 300;
}
#tabs-1 .name, #tabs-2 .name, #tabs-3 .name, #tabs-4 .name{
	color:#ffe600;
	margin-bottom: 20px;

}
.ui-tabs-panel {
	opacity: 1;
}
.close-button{
	float:right;
width: 15px;
height: 15px;
background:url(../images/close.png) no-repeat 0 0;
}
.ui-tabs{
	transition:1s;
}
.social a {
	text-align: center;
	width: 37px;
	height: 37px;
	border:1px solid #fff;
	display: block;
	padding-top: 10px;
	float:left;
	margin-right: 24px;
	padding-top: 4px;	
	vertical-align: middle;
}
.social a .fa{
	display: inline-block;
	color:#fff;
}
.social a .fa:hover{
color:#ffe600;}
.ui-tabs-active .tab-title:after, .ui.state.active .tab-title:after{
	position: absolute;
	content:'';
	width: 58px;
	height: 20px;
	top:calc(100% + 41px);
	left:calc(50% - 29px);
	background: #fff url(../images/arrow.png) no-repeat 100% 50%;
}