@import 'components/variables.scss';
@import 'components/mixins.scss';

@import 'components/global.scss';
@import 'components/type.scss';
@import 'components/btns.scss';
@import 'components/forms.scss';
@import 'components/format.scss';
@import 'components/grid.scss';
@import 'components/blocks.scss';
@import 'components/features.scss';
@import 'components/gallery-team.scss';
@import 'components/counters.scss';
@import 'components/sliders.scss';
@import 'components/media.scss';

.container {
	min-width: 400px;
}
.block-inverse {
	background-color: $color-dark;
}
.block-light {
	background-color: $color-light;
}
p, .h1, .h2, .h3 {
	@extend .text-center;
}
.h3 {
	font-weight: 400;
}
.h2-line:after {
	content: "";
	display: block;
	position: relative;
	@extend .center;
	top: 25px;
	height: 2px;
	width: 170px;
	background-color: $color-brand;
}
.highlight {
	color: $color-brand;
}
.btn-large {
	color: black;
	text-transform: uppercase;
}
.btn-small {
	padding: 25px;
	font-size: 3em;
	line-height: 0em;
}
.form-control {
	font-weight: 300;
}
textarea.form-control {
	height: 222px;
}
.block-header, .footer {
	background-color: $color-darkest;
	padding: 40px;
	color: #fff;
	a {
		color: #fff;
		&:hover {
			color: $color-brand;
		}
	}
}
.ul-menu {
	float: right;
	padding: 40px;
	li {
		position: relative;
		margin-left: 30px;
	}
	li:after {
		content:'';
		display: inline-block;
		width: 5px;
		height: 5px;
		background-color: $color-brand;
		margin: 0 15px;
		position: absolute;
		top: 35%;
	}
	li:last-child:after {
		display: none;
	}

}
.logo {
	width: 105px;
	margin-top: 15px;
}
.wrapper-h1 {
	background: $color-darkest;
	padding: 50px 0;
}
p.quote {
	font-size: 20px;
	line-height: 25px;
	text-align: center;
	width: 50%;
	margin: 0 auto;
}
p.quote-signature {
	margin: 50px 0 25px;
}
.footer {
	p {
		font-weight: 300;
		margin: 40px 0 0;
	}
	a {
		font-size: 	1.5em;
		margin: 10px;
	}
	.soc-icons {
		margin: 30px;
	}
}
.block-fill-height {
	padding: 0px;
}
// .mobile, .mobile-close {
// 	display: none;
// }